* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

#projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(304px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
}

#skill-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
}

#journey-grid {
    display: grid;
    grid-template-columns: 3px 1fr;
}

::-moz-selection {
    /* Code for Firefox */
    color: #fafafa;
    background: #ea580c;
}

::selection {
    color: #fafafa;
    background: #ea580c;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}